/* ==UserStyle==
@name         Minimal Transparent Whatsapp
@description  The only fully real transparent, and minimal theme for Whatsapp.
@namespace    github.com/nufrankz/whatsapp-css
@homepageURL  https://github.com/nufrankz/whatsapp-css
@supportURL   https://github.com/nufrankz/whatsapp-css
@updateURL    https://raw.githubusercontent.com/nufrankz/whatsapp-css/master/whatsapp.user.styl
@version      3.5.2
@author       nufrankz <hola@nufrankz.org> (https://www.nufrankz.org/?c=github)
@license      GPL
@preprocessor stylus

@var select bgImg  'Background Image' {
    'Color *    ': 'bg-color',
    'Night Sky  ': 'bg-night',
    'Black      ': 'bg-black',
    'Custom     ': 'bg-custom'
    }
@var text bgCustom 'Background Image URL' '"https://i.imgur.com/bn63HyZ.png"'
@var color bgColor 'Background Color' #21222C
@var color accent 'Accent' #6B9EB1
@var color background 'Transparency' rgba(5,26,34,0.6)
@var color text 'Text' #ffffff
@var color link 'Link' #2BCEFF
@var select font 'Font' {
    'Default *      ': 'font-default',
    'Helvetica      ': 'font-modern',
    'Times New Roman': 'font-times',
    'Console        ': 'font-console',
    'Old Console    ': 'font-consoleold',
    'Custom         ': 'font-custom'
    }
@var text customFont 'Custom Installed Font' 'AmericanTypewriter-Condensed'
@var range bgBlur 'Background Image Blur (in pixels)' [0, 0, 50, 1, 'px']
@var color messageOut 'Message Out Bubble' 'rgba(255,255,255,0.1)'
@var range emoji 'Emoji Opacity' [0.65, 0, 1, 0.01]
@var select fullscreen 'Fullscreen' {
    'Off * ': 'off',
    'On    ': 'on'
}
@var select private 'Private Mode' {
    'Off *': 'private-off',
    'On   ': 'private-on'
}
@var select doodles 'Doodles' {
    'Off * ': 'doodles-off',
    'Black ': 'doodles-black',
    'White ': 'doodles-white'
}
==/UserStyle== */

@-moz-document domain("web.whatsapp.com") {
    * {
        box-sizing: border-box;
    }

    :root {
        --accent: accent;
        --background: background;
        --text: text;
        --link: link;
        --svgColor: var(--accent);
        --messageOut: messageOut;
        --emoji: emoji;
        --bg-blur: blur(bgBlur);
        --blur-size: bgBlur*2;
        --blur-size-neg: bgBlur*-2;
    }

    html[dir] .landing-wrapper:before,
    body,
    #initial_startup,
    #startup,
    html[dir] .eiCXe,
    input,
    html[dir] .ZP8RM:after,
    html[dir] .ZP8RM._19OGD,
    html[dir] ._3fUe9,
    html[dir] ._1RYPC,
    html[dir] ._3Jvyf,
    html[dir] ._2HS9r,
    html[dir] ._2UaNq,
    html[dir] .NuujD,
    html[dir] ._13mgZ,
    html[dir=ltr] .message-out .tail-container,
    html[dir=ltr] .message-in .tail-container,
    html[dir=ltr] .message-in .tail-override-left .tail-container,
    html[dir=ltr] .message-in .tail-override-right .tail-container,
    html[dir=ltr] .message-out .tail-override-right .tail-container,
    html[dir=ltr] ._15CAo._3EQsG,
    html[dir=ltr] ._15CAo._2Nkc4,
    html[dir] ._1AUdd._1SsXF,
    html[dir] .r7sRK,
    html[dir] ._3jHKU,
    html[dir] ._2LSbZ,
    html[dir] .s4BtI,
    html[dir] ._11p3Q,
    html[dir] ._8-yzK,
    html[dir] .IMn_C,
    html[dir] ._2avTY,
    html[dir] .QChXd,
    html[dir] ._2Qm0c,
    html[dir] ._2hMsh,
    html[dir] ._20KNO,
    html[dir] ._2x9yi,
    html[dir] ._3LFRS,
    html[dir] .RxbUw,
    html[dir] .iFKgT,
    html[dir] ._1w-mX,
    html[dir] ._70TS5,
    html[dir] ._26JG5:hover,
    html[dir] ._26JG5,
    html[dir] ._3qblR._1SsXF,
    html[dir] .kiodY,
    html[dir] .a5vst,
    html[dir] ._1Kstu,
    html[dir] .cGLoy,
    html[dir] ._27U_m,
    html[dir] ._3EeLD,
    html[dir] ._3Xx0y,
    html[dir] ._1Yz8K.XSeqj,
    html[dir] .OWYLS,
    [data-asset-chat-background],
    html[dir] .NeQRT,
    html[dir] ._2rGVQ,
    html[dir] ._2AJf5,
    html[dir] ._19xqi,
    html[dir] ._3fktq,
    html[dir] ._2nZ2E.HNuTV,
    html[dir] .Lhd3q.HNuTV,
    html[dir] ._310T_,
    html[dir] ._22aOT,
    .gmnoprint div:nth-child(2),
    html[dir] ._3j8Pd._1eXOh,
    html[dir] ._3j8Pd.GPmgf,
    html[dir] ._3cukQ ._1mrMQ,
    html[dir] ._2i7Ej {
        background-color: transparent !important;
        background: transparent !important;
    }

    body:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        if(bgImg==bg-night) {
            background-image: url(https://i.imgur.com/TUASxwu.jpg) !important;
        }

        else if(bgImg==bg-color) {
            background-image: url(https://i.imgur.com/bn63HyZ.png) !important;
        }

        else if(bgImg==bg-black) {
            background-image: url(https://i.imgur.com/LzO907u.png) !important;
        }

        ) background-size: cover !important;
        background-position: center !important;
        filter: var(--bg-blur) !important;
    }

    [data-asset-intro-image] {
        background-image: url(https://i.imgur.com/0Dc0nhy.png) !important;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent !important;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--accent) !important;
    }

    a,
    abbr,
    acronym,
    address,
    applet,
    article,
    aside,
    audio,
    b,
    big,
    blockquote,
    body,
    canvas,
    caption,
    center,
    cite,
    code,
    dd,
    del,
    details,
    dfn,
    div,
    dl,
    dt,
    em,
    embed,
    fieldset,
    figcaption,
    figure,
    footer,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header,
    hgroup,
    html,
    i,
    iframe,
    img,
    ins,
    input,
    kbd,
    label,
    legend,
    li,
    mark,
    menu,
    nav,
    object,
    ol,
    output,
    p,
    pre,
    q,
    ruby,
    s,
    samp,
    section,
    select,
    small,
    strike,
    strong,
    sub,
    summary,
    sup,
    table,
    tbody,
    td,
    textarea,
    tfoot,
    th,
    thead,
    time,
    tr,
    tt,
    u,
    ul,
    var,
    video {
        if(font==font-default) {}
		else if(font==font-modern) {
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
		} else if(font==font-times) {
			font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif !important;
		} else if(font==font-console) {
			font-family: 'Lucida Console', Monaco, monospace !important;
		} else if(font==font-consoleold) {
			font-family: 'Courier New', Courier, monospace !important;
		} else if(font==font-custom) {
			font-family: customFont !important;
		}
        color: var(--text);
    }

    ._1pw2F ._1lmAJ,
    ._1pw2F canvas,
    ._1pw2F img {
        max-width: 100%
    }

    @media screen and (max-width: 1300px) and (min-width: 1025px) {
        .two ._3kF8H {
            flex: 20% !important;
        }
    }

    @media screen and (min-width: 1301px) {
        .two ._3kF8H {
            flex: 20% !important;
        }
    }

    @media screen and (max-width: 900px) {
        .two ._3kF8H {
            flex: 20% !important;
        }
    }

    ._2-MrR svg path:first-child,
    html[dir] ._37H0O svg path:first-child,
    svg>path:first-child,
    ._2wn58 svg path,
    [data-icon*=panel-emoji-] svg path,
    [data-icon=round-x] svg path,
    [data-icon=emoji-input] svg path,
    html[dir] .Ijb1Q [data-icon] svg g+path,
    [data-icon=audio-download] svg path,
    [data-icon=highly-forwarded] svg path,
    [data-icon=live-location-active-iphone] svg path {
        fill: var(--text) !important;
    }

    [data-icon]:not([data-icon=status-v3-placeholder]):not([data-icon*=panel-emoji-]):not([data-icon=round-x]):not([data-icon=emoji-input]):not([data-icon=audio-download]):not([data-icon=highly-forwarded]):not([data-icon*=logo-]) svg path:nth-child(2n),
    [data-icon]:not([data-icon=status-v3-placeholder]) svg g,
    [data-icon=new-group] svg>path:first-child,
    ._3PxOr svg path:nth-child(2),
    html[dir] .Ijb1Q [data-icon] svg path,
    [data-icon=status-dblcheck-ack] svg path,
    [data-icon=status-ptt-blue] svg path,
    [data-icon=msg-dblcheck-ack-light] svg path,
    [data-icon*=settings-] svg path,
    [data-icon=thumbs-down] svg path,
    [data-icon=delete-danger] svg path,
    [data-icon=exit] svg path,
    .darwin .-XQxp._1oNFt path,
    .web .-XQxp._1oNFt path,
    .win32 .-XQxp._1oNFt path,
    html[dir] ._3j8Pd._1eXOh svg path,
    html[dir] ._3j8Pd.GPmgf svg path,
    [data-icon=msg-dblcheck-ack] svg path {
        fill: var(--accent) !important;
    }

    html[dir] .message-out ._2Wx_5,
    html[dir] .message-out ._2Hp95 ._3Mf7Z,
    html[dir] .message-out ._2Hp95 ._3qAvH,
    html[dir] .qTFAl._3Z2tD,
    html[dir] .qTFAl:hover,
    html[dir] ._2UaNq._3mMX1,
    html[dir] ._2UaNq:hover {
        background-color: var(--messageOut) !important;
    }

    .landing-main svg path:first-child,
    .landing-main svg rect:first-child,
    .landing-main svg g:first-child {
        fill: var(--svgColor) !important;
    }

    ._1y_Nu,
    .oWVod,
    .spinner-path,
    ._3yudO {
        stroke: var(--text) !important;
    }

    [data-icon=down] svg path,
    [data-icon=round-send] svg path,
    [data-icon=round-send-inv] svg path,
    [data-icon=round-x] svg path,
    [data-icon=round-x-inv] svg path {
        opacity: 1 !important;
    }

    [data-icon=muted] svg path,
    [data-icon=status-dblcheck] svg path,
    [data-icon=ptt] svg path,
    [data-icon=send] svg path {
        fill-opacity: 1 !important;
    }

    .landing-main svg path:nth-child(2n),
    .landing-main svg rect:nth-child(2n),
    .landing-main svg g g path,
    .landing-main svg path:nth-child(3n),
    .landing-main svg rect:nth-child(3n),
    .web .-XQxp path {
        fill: var(--text) !important;
    }

    .landing-main .selectable-text,
    .landing-main ._1QjgA {
        opacity: 1 !important;
    }

    ._3dW8D,
    .iFKgT a,
    a,
    ._1Jc9f,
    .Ir_Ne {
        color: var(--link) !important;
    }

    body {
        if(bgImg==bg-color) {
            background-color: bgColor !important;
        }

        else if(bgBlur>0) {
            position: absolute;
        }
    }

    html[dir] ._1MOym,
    html[dir] .landing-window,
    html[dir] ._1OwC7,
    progress,
    html[dir] .message-in ._2Wx_5,
    html[dir] .message-in ._2Hp95 ._3Mf7Z,
    html[dir] .message-in ._2Hp95 ._3qAvH,
    html[dir] ._1KDYa,
    .QRsOy,
    html[dir] ._3RiLE,
    html[dir] .CtSuQ .iqJMX,
    html[dir] ._2mlOb,
    html[dir] ._1gFYk,
    html[dir] ._1gFYk .iqJMX,
    html[dir] ._3_nIn,
    html[dir] ._1o6AT ._1mrMQ,
    html[dir] ._1hhkM,
    html[dir] ._2AqZl,
    html[dir] .iFKgT,
    #side,
    html[dir=ltr] ._30sf0,
    html[dir] ._3tMyP {
        background-color: var(--background) !important;
    }

    html[dir] ._3BqnP._3VXiW,
    html[dir] .P6z4j,
    html[dir] .a7otO,
    html[dir] ._3KRbU,
    html[dir] ._3D31H,
    html[dir] ._22oFl,
    html[dir] ._1g8sv,
    ._15wNI,
    html[dir] .Orl3a,
    html[dir] ._1WMT2._1lakC,
    html[dir] ._1WMT2._2nA3s,
    html[dir] ._1T8rb,
    html[dir] ._23_1v:hover,
    html[dir] ._3PQ7V,
    html[dir] ._3yth3,
    html[dir] ._27U_m:before,
    html[dir] ._1puWZ,
    html[dir] ._2xikZ,
    html[dir] ._2sOZc,
    html[dir] ._1lo-H,
    html[dir] ._1Yz8K.XSeqj,
    html[dir] .iFKgT:after,
    html[dir] ._1WD8C {
        background-color: var(--accent) !important;
    }

    html[dir] ._2JiCb .emojik:focus,
    html[dir] .emojik.selected,
    html[dir] ._1sHYl:focus img {
        box-shadow: 0 0 0 2px #fff;
    }

    html[dir] ._2mlOb,
    html[dir] ._2mlOb:before,
    html[dir] .a7otO {
        box-shadow: none !important;
        text-shadow: none !important;
    }

    html[dir] ._3p0T6 {
        background-color: #fff !important;
    }

    ._15wNI,
    html[dir] ._5UNoc ._3hnO5,
    html[dir] ._5UNoc ._3hnO5 {
        border-color: var(--accent) !important;
    }

    html[dir] ._2hHc6,
    html[dir] ._1iNsf,
    html[dir] ._1KDYa,
    ._2gisX,
    html[dir] ._2KgjI,
    html[dir] ._2j-wI,
    html[dir] ._26pkE,
    html[dir] ._3jzsh,
    html[dir] ._1ebw2,
    html[dir] ._3Fjw5,
    html[dir] ._1DKwn,
    html[dir] ._3979j,
    html[dir] ._1Lz7N,
    .gmnoprint div {
        background-color: #000 !important;
    }

    html[dir] ._3Fq9Y,
    html[dir] ._1JS2G {
        background-color: rgba(0, 0, 0, .85) !important;
    }

    .landing-title,
    ._2yUXW,
    ._1cDWi,
    ._3mkas,
    ._3UQPd,
    ._183ES,
    ._201Bk,
    ._19vo_,
    .i1XSV._3Q3ui,
    ._3H4MS,
    ._2UaNq._3mMX1 .xD91K,
    ._0LqQ,
    ._1lxsr,
    ._1zGQT,
    ._3MYI2,
    ._3RQIp,
    ._2cR8w,
    ._17hud,
    input,
    .Sl-9e,
    ._2HHbr,
    ._2MyYN,
    ._2V2qB,
    ._6xQdq,
    ._1qWhd,
    select,
    .Fzl83:before,
    ._357v7,
    ._1wt6r,
    ._1T8rb,
    ._13HPh,
    ._23_1v:hover,
    ._3dwyT,
    ._8fE-g,
    .kiodY .kyJvR,
    ._1goQ0,
    .Y1iVg,
    ._1o0MN,
    ._1o6AT ._35Zop:before,
    ._1puWZ ._28Bny,
    ._2xikZ ._28Bny,
    ._1puWZ ._2JIoO,
    ._2xikZ ._2JIoO,
    .bHCVK,
    ._3Xx0y,
    html[dir=ltr] ._1F9Ap,
    ._26pkE,
    ._1drsQ,
    ._2IwIk,
    ._12pGw strong,
    ._2IHkF,
    ._3JxFB,
    ._3uHCS,
    ._23MBZ,
    ._2LRBk,
    ._2UaNq._2ko65 .xD91K,
    ._3FeAD .wjdTm,
    ._2NdXo,
    ._2ofvs,
    ._2v02G,
    ._3uHCS,
    ._3qb2N {
        color: var(--text) !important;
    }

    ._2yUXW,
    ._1lxsr,
    html[dir] .KgevS ._0LqQ,
    ._2cR8w,
    ._17hud,
    ._2V2qB,
    ._1qWhd,
    .Fzl83:before,
    ._357v7,
    ._1wt6r,
    ._3dwyT,
    ._8fE-g,
    ._1goQ0,
    ._1o0MN,
    .bHCVK,
    html[dir=ltr] ._1F9Ap,
    ._2IwIk,
    ._3JxFB,
    ._23MBZ,
    html[dir=ltr] ._2Bw3Q,
    ._3FeAD .wjdTm,
    ._1pw2F._2VkjG ._1lmAJ,
    ._1pw2F._2VkjG canvas,
    ._1pw2F._2VkjG img,
    .i1XSV._3Q3ui,
    ._3uHCS,
    ._3fnHB,
    ._3Ux6T,
    ._2v02G,
    ._3uHCS,
    ._3qb2N {
        opacity: .5 !important;
    }

    ._2ZAIy,
    .r7sRK,
    .matched-text,
    ._3he1q,
    ._2wn58,
    ._23_1v,
    .PjbL2,
    ._1SYAj ._6xQdq,
    ._23AyA,
    span[data-mention-jid],
    ._3THW4 {
        color: var(--accent) !important;
    }

    progress {
        color: var(--accent) !important;
    }

    html[dir] ._1pw2F {
        padding: .5em;
        background-color: #fff;
    }

    html[dir] .ZP8RM:after,
    html[dir] ._2WP9Q,
    html[dir] ._2UaNq._3mMX1 ._2WP9Q,
    html[dir] ._2UaNq._3mMX1:after,
    html[dir] ._2UaNq._3mMX1:after,
    html[dir] ._2UaNq:hover:after,
    html[dir=ltr] ._2i7Ej,
    html[dir] ._13mgZ,
    html[dir] ._2DxRd,
    html[dir=ltr] ._30sf0,
    html[dir] ._39cGk,
    html[dir] ._26JG5+._26JG5 ._27Ie2,
    html[dir] ._26JG5:hover+._26JG5:before,
    html[dir] ._2TLLH,
    html[dir] ._3_-Si+._3_-Si ._2x2XP,
    html[dir] ._2n0jo,
    html[dir=ltr] ._2mlOb,
    html[dir=ltr] ._1sHYl:first-child,
    html[dir=ltr] ._2j-wI,
    html[dir] ._3Xx0y {
        border: 0 !important;
    }

    html[dir] ._1AUdd._1SsXF,
    html[dir] ._3qblR._1SsXF,
    html[dir] .HNuTV,
    html[dir] .Ir_Ne,
    html[dir] ._3F4Fd {
        border: 1px solid rgba(255, 255, 255, .5) !important;
    }

    html[dir] ._3fs0K:after,
    hr,
    html[dir] ._1WMT2:before,
    ._1WMT2._1lakC:after,
    ._1WMT2._2nA3s:after,
    ._1WMT2._2V_Wj:after,
    html[dir] ._1FPJ-:after {
        display: none !important;
    }

    html[dir=ltr] ._30sf0 .emoji,
    html[dir=ltr] ._30sf0 .emojik,
    html[dir=ltr] ._2mlOb .emoji,
    html[dir=ltr] ._2mlOb .emojik,
    html[dir] ._2hHc6 .emoji,
    html[dir] ._2hHc6 .emojik,
    li._3cfBY._2yhpw._1sHYl {
        opacity: var(--emoji) !important;
    }

    html[dir] .emoji:hover,
    html[dir] .emojik:hover,
    li._3cfBY._2yhpw._1sHYl:hover {
        opacity: 1 !important;
        cursor: pointer;
    }

    html[dir] ._3j8Pd {
        padding: 0 8px !important;
    }

    @media screen and (max-width: 1024px) {

        html[dir=ltr] ._3fs0K,
        html[dir=ltr] .three ._1C9rS {
            border: 0 !important;
        }
    }

    @media screen and (max-width: 1300px) and (min-width: 1025px) {
        html[dir=ltr] ._3fs0K {
            border: 0 !important;
        }
    }

    html[dir] ._2UaNq {
        transition: background-color .2s ease;
    }

    html[dir] ._3fs0K,
    html[dir] ._1N6pS {
        background: var(--background) linear-gradient(90deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0) 60px, rgba(0, 0, 0, 0) 100%) !important;
    }

    /*[[private]]*/
    if(private==private-on) {

        html[dir] ._2UaNq,
        html[dir] ._3RWII,
        html[dir] ._3mdDl,
        html[dir=ltr] .NB3Gq,
        html[dir] ._3F4Fd,
        html[dir] ._1Bw-K,
        html[dir] ._3X58t,
        ._3V5x5 {
            filter: blur(7px) grayscale(100%) brightness(50%) !important;
            transition: filter .2s ease;
        }

        html[dir] ._2UaNq:hover,
        html[dir] ._3RWII:hover,
        html[dir] ._3mdDl:hover,
        html[dir=ltr] .NB3Gq:hover,
        html[dir] ._3F4Fd:hover,
        html[dir] ._1Bw-K:hover,
        html[dir] ._3X58t:hover,
        ._3V5x5:hover {
            filter: none !important;
        }

        .selectable-text,
        ._1QjgA {
            opacity: .45 !important;
        }

        @media screen and (max-width: 1300px) and (min-width: 1025px) {
            .two ._3kF8H {
                flex: 5% !important;
            }
        }

        @media screen and (min-width: 1301px) {
            .two ._3kF8H {
                flex: 5% !important;
            }
        }

        @media screen and (max-width: 900px) {
            .two ._3kF8H {
                flex: 5% !important;
            }
        }
    } else if(private==private-off) {}

    if(doodles==doodles-black) {
        body:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(https://i.imgur.com/xZai6xR.png) !important;
            background-size: 37%;
        }
    }

    else if(doodles==doodles-white) {
        body:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(https://i.imgur.com/rBLuyxZ.png) !important;
            background-size: 37%;
        }
    }

    else if(doodles==doodles-off) {}

    if(fullscreen==on) {
        @media screen and (min-width: 1441px) {

            html[dir] .app-wrapper-web ._3fUe9,
            .app-wrapper-web ._3fUe9 {
                height: 100% !important;
                top: 0 !important;
                width: 100% !important;
                box-shadow: none !important;
                margin: auto !important;
            }
        }
    }
}

else if(fullscreen==off) {}

if(newui==on) {
    #main>header>div._1SwuT>div {
        height: 50px !important;
        width: 50px !important;
    }

    ._3V5x5 {
        padding: 5px 10px;
    }

    html[dir] ._13mgZ,
    ._3V5x5 {
        border-radius: 10px;
    }

    ._3V5x5,
    html[dir] ._13mgZ {
        background-color: var(--background) !important;
    }

    html[dir=ltr] ._2i7Ej,
    html[dir] ._3fs0K,
    html[dir] ._3fs0K,
    html[dir=ltr] ._2i7Ej,
    html[dir] ._1N6pS {
        background-color: transparent !important;
        background: transparent !important;
    }
} else if(newui==off) {}
}


/*[[newui]]*/
}
